
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<div>
    @using (Html.BeginForm("Index", "QR", FormMethod.Post))
    {
        <input type="text" name="Kod" value="@ViewBag.dgr2" />
        <input type="submit" value="QR Oluştur" />
    }
    <br />
    @if (ViewBag.karekodimage != null)
    {
        <img src="@ViewBag.karekodimage" alt="" style="width:400px; height:400px;" />
    }
</div>