@model MvcOnlineTicariOtomasyon.Models.Sınıflar.Departman
@{
    ViewBag.Title = "DepartmanGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Departman Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("DepartmanGuncelle", "Departman", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.Departmanid)
        <label>Departman Adı</label>
        @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.DepartmanAd, "", new { @style = "color:red" })

    </div>
    <button class="btn btn-outline-warning">Güncelle</button>
}