@model MvcOnlineTicariOtomasyon.Models.Sınıflar.Departman
@{
    ViewBag.Title = "YeniDepartman";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Yeni Departman Ekleme Sayfası</h2>
<br />
<form class="form-group" method="post">
    <label>Departman Adını Giriniz!</label>
    @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.DepartmanAd, "", new { @style = "color:red" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>